APP_ENV=development
NODE_ENV=development
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_USE_SECURE_AUTH=true
NEXT_PUBLIC_USE_COOKIE_AUTH=true
NEXT_PUBLIC_USE_DYNAMIC_STATUS=true
PDF_RENDER_ORIGIN=http://localhost:3000
